.page {
    width: 75%;
    background-color: #fefefe;
    margin: auto;
    padding-left: 50px;
    padding-right:50px;
    padding-top: 35px;
    padding-bottom: 35px;
}

#title{
	text-align: center;
}

#subtitle{
	text-align: center;
}